<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label for="">E-mail</label>
            <input type="email" name="email" placeholder="Ingresar correo electrónico">
        </div>
        <div class="campo">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Ingresar contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crear Cuenta</a>
            <a href="/restablecer-password">¿Olvidaste tu Contraseña?</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>